/* CSS Document */
/* Items Display List */
.tiles{
}
.tile{
	width:250px;
	height:120px;
	background-color:#E6E6E6;
	margin:6px;
	margin-right:12px;
	float:left;
	overflow:hidden;
}
.tile .title_display_border{

}
.tile .tile_image, .tile .tile_image img{
	width:250px;
	height:120px;
	overflow:hidden;	
}

.tile .tile_image a{
	text-decoration:none;
	border:none;
	color:#FFF;
}
.tile .tile_image a.img{

} 
.tile .tile_image a:hover img{

} 
.tile .tile_image a:hover  .tile_display_image{
	width:250px;
	height:120px;
	z-index:-1;

}
.tile .tile_image a:hover .show_tile_hover{
	background-image:url(../images/cpanel_tiles/default_hover.png);
	width:250px;
	height:120px;
	top:-120px;
	position:relative;
	
}
.tile .tile_pop_up_details{
	width:250px;
	height:120px;
	display:block;
	position:relative;
	background-color:#3A3A3A;
	

}
.tile .tile_pop_up_details a:hover{
	z-index:9999;	
}

.tile .tile_description{
	font-size:1em;	
	height:80px;
	background-color:#666;
	background-repeat:repeat;
	padding:10px;
	color:#FFF;
}
.tile  .tile_description .title{
	color: #FCAC18;
	font-size: 1.2em;
	font-weight: bold;
}